{% extends 'base.html' %}

{% block content %}

<h1>{{pet.name}}</h1>


<div class="row">
    {% if pet.photo_url %}
    <div class='col-sm-2 col-6'>
        <img src='{{pet.photo_url}}'>
    </div>
    {% endif %}
</div>

<form action='/pets/{{pet.id}}' id='edit-pet' method="POST">
    {% for field in form if field.widget.input_type != 'hidden' %}

    <p>
        {{field.label}}
        {{field}}
    </p>
    {% endfor %}

    <button type="submit">Edit</button>
</form>

<form action="/pets/{{pet.id}}/delete" method="POST">
    <button>Delete</button>
</form>

{% endblock %}